:root {
  --color-primary: #f1f1f1;
  --color-primary-darker: #0b0b0c;
  --color-secondary-darker: #121212;
  --color-primary-opacity: rgb(119, 227, 119);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--color-primary);
}
h1 {
  font-weight: 1000;
}
h2 {
  font-size: 32px;
  font-weight: 900;
}
h4 {
  font-weight: 700;
}
.wave {
  height: 2rem;
  size: 40rem;
  margin: 0;
  padding: 0;
}
.wave:hover {
  background: var(--color-primary-opacity);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  margin-right: 12px;

  z-index: 100;
  background-color: var(--color-primary-darker);
}

.nav.sticky {
  position: fixed;
  background-color: rgba(218, 71, 71, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
  color: #d5d6db;
  padding-right: 5px;
}

.nav__link:link,
.nav__link:visited {
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 15px;
  background-color: green;
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-opacity);
  color: #333;
}

.section--1 {
  display: flex;
  flex-direction: row;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  display: grid;
  grid-template-rows: 6fr 7fr;
  align-content: center;
  justify-content: space-between;
  margin-top: 220px;
  margin-left: 100px;
  row-gap: 3rem;
  align-items: start;
  justify-items: start;
}

.header__img {
  left: 600px;
  margin-top: 275px;
  margin-left: 90px;
}
.image {
  position: absolute;
  size: 500px;
  border-radius: 10px;
}

.img3 {
  z-index: 2;
}

.img2 {
  transform: translate(75px, -50px);
  filter: blur(1px);
  z-index: 1;
}

.img1 {
  transform: translate(150px, -100px);
  filter: blur(2px);
  z-index: 0;
}
.section {
  padding: 15rem 3rem;
  border-top: 1px solid var(--color-primary);
  transition: transform 1s, opacity 1s;
}

.template__tiles {
  margin-left: 40px;
  display: grid;
  grid: 100px / auto auto auto;
  gap: 360px 50px;
}
.template__root {
  height: 400px;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  background: rgb(228, 228, 228);
}
.template__root:hover {
  box-shadow: 2px 2px 20px #505053;
  transition: border-color 0.2s;
}
.template__detail {
  margin-top: 50px;
}
.tileTitle {
  text-decoration: none;
  color: #333337;
}
.tileImage {
  text-align: end;
  margin-top: 67px;
  z-index: 0;
  box-shadow: 0 20.83px 22.92px rgb(0 0 0 / 34%);
  border-radius: 8px 8px 0 0;
  max-width: 80%;
  border: 4px wheat;
}
.tileTitle:hover {
  text-decoration: underline;
}
.tileHead {
  margin-bottom: 30px;
}
.All_Cat {
  text-align: start;
}
.category {
  height: 50px;
  width: 150px;
}
.col_white_amrc {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
